.form-control{
border-radius: 50px;
border:1px solid violet;
max-width: 350px;
align-items: center;
align-content: center;
background-color: lightgrey;
}
.img-fluid{
    padding-top: 80px;

}
@media only screen and (max-width:768px){
    .container .overlay{
        display:none;
     }
}

@media only screen and (max-width: 600px) {
    .form-control{
        border-radius: 50px;
        border:1px solid violet;
        width: 300px;
        background-color: lightgrey;
        }
    .container .overlay{
        display:none;
     }
     .btn1{
        border-radius: 25px;
        color: white;
        width: 300px;
    }
    
  }
 

.btn1{
    border-radius: 25px;
    color: white;
    max-width: 350px;
}
.containers{
    border-radius: 15px;
    padding: 50px;
    background-color: white;
}
.containgap{
    padding-top: 80px;
    background-color: transparent;
}
.container-fluids{
    height: 100vh;
    background: rgb(63,101,251);
    background: linear-gradient(90deg, rgba(63,101,251,0.9360119047619048) 1%, rgba(188,29,236,0.9304096638655462) 55%);
}